.screen {
  min-height: 100vh;
  background: var(--background-base-default);
  display: flex;
  flex-direction: column;
}
.body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}
.title {
  margin: 0;
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  color: var(--text-base-default);
}
.subtitle {
  color: var(--text-base-default);
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
.channel {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--text-base-default);
}
.channelText {
  font-size: 14px;
  line-height: 20px;
  color: var(--text-base-default);
}
.resend {
  color: var(--text-base-subtext);
  margin: 0;
  font-size: 13px;
  line-height: 16px;
}
